body {
    margin: 0;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: 400;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.wrapper {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header-logo {
    position: absolute;
    width: 138px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.main-navigation li {
    width: 20%;
    margin: 0;
    padding: 15px 0;
}

.main-navigation li:nth-child(4n+1) {
    margin-left: 6%;
}

.main-navigation li:nth-child(4n) {
    margin-right: 6%;
}

.main-navigation li:nth-child(4n+2) {
    margin-right: auto;
}

.main-navigation li:nth-child(4n-1),
.main-navigation li:nth-child(4n) {
    text-align: right;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.main-navigation a {
    color: #000000;
}

.main-navigation-current a {
    color: #766357;
}

.main-navigation a:hover,
.main-navigation a:focus {
    color: #81b3d2;
}

.main-navigation a:active {
    color: rgba(0, 0, 0, 0.302);
}

.intro {
    width: 100%;
    height: 510px;
    margin-bottom: 5px;
    background-color: #dae8f1;
    background-image: url("../img/welcome-to-sedona.png"),
    url("../img/mask.png"),
    url("../img/main-background.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center, bottom, right 28%; 
    background-size: 460px, 100% 57px, cover;
}

.main-text-wrapper {
    padding: 55px 10px 50px;
    text-align: center;
}

.main-caption {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 27px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.main-caption-text {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}

.advantages-full {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #81b3d2;
}

.advantages-item {
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    padding: 48px 47px 10px;
    min-height: 256px;
}

.advantages-full-image {
    width: 66.67%;
    height: 256px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.advantages-full:last-of-type {
    flex-direction: row-reverse;
}

.features,
.advantages {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.features-item {
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    padding: 162px 47px 10px;
    position: relative;
    margin-bottom: 5px; 
    min-height: 325px;
}

.features-item:before {
    display: block;
    content: "";
    position: absolute;
    width: 75px;
    height: 80px;
    top: 60px;
    left: 50%;
}

.features-item:nth-child(1):before {
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    margin-left: -38px;
}

.features-item:nth-child(2):before {
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    margin-left: -40px;
}

.features-item:nth-child(3):before {
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    margin-left: -32px;
}

.advantages-item-caption,
.features-item-caption {
    width: 155px;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: 700;
    margin: 0 auto 23px;
}

.advantages-item-number {
    display: inline-block;
    margin-bottom: 20px;
}

.advantages-item-text,
.features-item-text {
    margin: 0;
}

.advantages-full .advantages-item-caption,
.advantages-full .advantages-item-number,
.advantages-full .advantages-item-text {
    color: #ffffff;
}

.advantages {
    margin-bottom: 5px;
    background-color: #eeeeee;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hotel-search-description {
    text-align: center;
}

.search-text-wrapper {
    width: 450px;
    margin: 0 auto;
    padding: 47px 10px;
    text-align: center;
}

.hotel-search p {
    margin: 0;
}

.hotel-search-caption {
    display: inline-block;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 23px;
}

.hotel-search-text {
    font-size: 14px;
    line-height: 24px;
}

.modal-window-control {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #766357;
    padding: 30px 139px;
    border: none;
}

.modal-window-control:hover,
.modal-window-control:focus {
    background-color: #604e43;
}

.modal-window-control:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.modal-window-wrapper {
    position: relative;
}

.modal-window {
    position: absolute;
    width: 460px;
    background-color: #ffffff;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 55px;
}

.arrival-date-input,
.departure-date-input {
    width: 345px;
    padding: 5px 40px 5px 10px;
}

.arrival-date,
.departure-date {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.arrival-date label,
.departure-date label {
    margin-right: auto;
}

.calendar {
    padding: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 8px;
    right: 9px;
    border: none;
    background: transparent;
}

.calendar path {
    fill: #cacaca;
}

.calendar:hover path,
.calendar:focus path {
    fill: #333333;
}

.calendar:active path {
    fill: #528eb3;
}

.search {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.search input {
    box-sizing: border-box;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 2px solid transparent;
    height: 38px;
}

.search input::-webkit-input-placeholder {
    color: #000000;
}

.search input::-moz-placeholder {
    color: #000000;
}

.search input:-ms-input-placeholder {
    color: #000000;
}

.search input::placeholder {
    color: #000000;
}

.search input:hover {
    background-color: #ebebeb;
}

.search input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.guest-number {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.guest-number-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 55px;
}

.guest-number-wrapper:first-child {
    margin-right: auto;
    width: 230px;
}

.guest-number-wrapper:last-child {
    width: 180px;
}

.guest-number-wrapper label {
    margin-right: auto;
}

.adults-number,
.children-number {
    width: 38px;
    text-align: center;
}

.guests-number-controls {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    padding: 0;
}

.decrease::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5.5px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.increase::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5.5px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}

.increase::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -4.5px;
    margin-left: -1.5px;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
}

.increase:hover::before,
.increase:hover::after,
.increase:focus::before,
.increase:focus::after,
.decrease:hover::before,
.decrease:focus::before {
    background-color: #333333;
}

.increase:active::before,
.increase:active::after,
.decrease:active::before {
    background-color: #81b3d2;
}

.search-button {
    width: 100%;
    padding: 16px 5px;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
}

.search-button:hover,
.search-button:focus {
    background-color: #669ec0;
}

.search-button:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.map {
    height: 592px;
    background-color: #f2f1ef;
    background-image: url("../img/map.jpg");
    background-position: center bottom;
}

.main-footer {
    background-color: rgba(254, 254, 254, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 36px 0;
}

.footer-wrapper {
    position: relative;
}

.main-page .main-footer {
    position: absolute;
    top: -120px;
}

.footer-feedback {
    width: 33.33%;
    text-align: center;
}

.footer-feedback span {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-social {
    width: 33.33%;
    text-align: center;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
}

.footer-social li {
    margin-right: 6px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.social-button {
    display: block;
    position: relative;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-button svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active path {
    fill: rgba(0, 0, 0, 0.3);
}

.footer-copyright {
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-copyright span {
    font-size: 14px;
    line-height: 26px;
    margin-right: 8px;
}

.footer-copyright a {
    line-height: 0;
}

.hotels-search {
    padding: 30px 6%;
    background-color: #799bbf;
    background-image: url("../img/hotels-background.jpg");
    background-position: center;
    background-size: cover;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.input-group:nth-child(1) {
    width: 22.73%;
    margin-right: 15px;
}

.input-group:nth-child(2) {
    flex-grow: 1;
    margin: 0 auto 0 0;
}

.input-group:nth-child(3) {
    width: 30.3%;
} /*не могу высчитать проценты. при ширине 768px выглядит не как на макете*/

.input-group-caption {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

.input-group:nth-child(3) .input-group-caption {
    margin: 0 0 10px 0;
} 

.filter ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-option {
    margin-bottom: 22px;
}

.filter-option:last-child {
    margin-bottom: 0;
}

.filter-input-checkbox {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.filter-input-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-input-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.filter-input-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    width: 27px;
    background-image: url("../img/checkbox-on.svg");
}

.input-wrapper {
    font-size: 0;
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 5px 0;
}

.input-wrapper::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-wrapper label {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 20%;
}

.input-wrapper input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.filter-input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.filter-input::-moz-placeholder {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.filter-input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.filter-input::placeholder {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.price-controls {
    position: relative;
    margin-bottom: 32px;
}

.price-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.price-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.price-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
    position: absolute;
    top: -9px;
}

.price-toggle:hover {
    width: 5px;
    height: 5px;
}

.min-price {
    left: 0;
}

.max-price {
    left: 80%;
}

.filter-button {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #ffffff;
    color: #000000;
}

.search-result-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 6%;
    padding: 30px 0;
}

.search-result-number {
    width: 135px;
    margin-right: 35px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.search-result-sorting {
    width: calc(100% - 135px);
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sorting-parameters {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sorting-parameters li {
    margin-right: 32px;
}

.sorting-parameters li:last-child {
    margin-right: 0;
}

.sorting-up-down {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search-result-sorting a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sorting-up-down a {
    border: none;  
}

.sorting-up-down li:first-child {
    margin-right: 11px;
}

.up-arrow path,
.down-arrow path {
    fill: #cacaca;
}

.up-arrow:hover path,
.up-arrow:focus path,
.down-arrow:hover path,
.down-arrow:focus path {
    fill: #231f20;
}

.up-arrow:active path,
.down-arrow:active path {
    fill: #81b3d2;
}

.up-arrow-svg path,
.down-arrow-svg path {
    pointer-events: none;
} /*для IE*/

.up-arrow-svg:active path,
.down-arrow-svg:active path {
    fill: #81b3d2;
} /*для IE*/

.search-result-sorting a:hover,
.search-result-sorting a:focus {
    color: #81b3d2;
}

.search-result-sorting a:active {
    color: #000000;
    border: none;
}

.sorting-current a {
    border: none;
    color: #81b3d2;
}

.sorting-current a:active {
    color: #81b3d2;
}

.search-result-sorting > span {
    margin-right: 40px;
}

.hotels {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.hotels li {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.hotels li:first-child {
    border-top: 1px solid #e5e5e5;;
}

.hotels-item {
    margin: 0 6%;
    display: flex;
    flex-direction: row;
    padding: 28px 0;
}

.hotels-item-image {
    width: 135px;
    margin-right: 30px;
}

.hotels-item-about {
    flex-grow: 1;
    margin-right: auto;
}

.hotels-item-range {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.hotels-item-caption {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: -4px 0 6px;
    padding: 0;
}

.hotels-item-caption a {
    color: #000000;
}

.hotels-item-caption a:hover,
.hotels-item-caption a:focus {
    color: #81b3d2;
}

.hotels-item-caption a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-item-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.column-1 {
    margin-right: 6px;
}

.column-1 p,
.column-2 p {
    margin: 0 0 13px 0;
}

.hotels-item-info,
.hotels-item-reserve {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    padding: 3px 17px;
}

.hotels-item-info {
    background-color: #81b3d2;
}

.hotels-item-info:hover,
.hotels-item-info:focus {
    background-color: #669ec0;
}

.hotels-item-info:active {
    background-color: #5496bd;
    color: rgba(0, 0, 0, 0.3);
}

.hotels-item-reserve {
    background-color: #766357;
}

.hotels-item-reserve:hover,
.hotels-item-reserve:focus {
    background-color: #604e43;
}

.hotels-item-reserve:active {
    background-color: #503e33;
    color: rgba(0, 0, 0, 0.3);
}

.hotels-item-stars {
    margin-bottom: auto;
    height: 17px;
    line-height: 0;
    background-image: url(../img/star.svg);
    background-repeat: space;
}

.one-star {
    width: 17px;
}

.two-stars {
    width: 41px;
}

.three-stars {
    width: 65px;
}

.four-stars {
    width: 89px;
}

.five-stars {
    width: 113px;
}

.hotels-item-rating {
    display: inline-block;
    padding: 4px 15px;
    color: #666666;
    background-color: #f2f2f2;
}

.academy-logo:hover path,
.academy-logo:focus path {
    fill: #81b3d2;
}

.academy-logo:active path {
    fill: #bdbbbc;
}

.academy-logo-svg path {
    pointer-events: none;
} /*для IE*/

.academy-logo-svg:active path {
    fill: #bdbbbc;
} /*для IE*/