body {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-weight: normal;
    font-family: "PT Sans", "Arial", sans-serif;
}

.main-caption {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.features-item-caption {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}